#!/usr/bin/env python3
# -*- coding: utf-8 -*-
"""
@author: Johan Mendez
"""

body{
	background-color: #f0f0f0;
}

h1{
	margin: 0;
	text-align: center;
}

h2{
	margin-top: 0px;
}

h4{
	margin: 0;
	text-align: center;
}


/* Se tienen el diseño de los bloques */

.mat-card{
	transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
	display: inline-block;
	position: relative;
	padding: 16px;
	border-radius: 4px;
	box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0, 0, 0, .12);
	background: #fff;
	color: rgba(0, 0, 0, .87);
}

.container{
	display: flex;
}

.column{
	flex: 50%;
}

